canvas {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid black; */
}

.floor {
    position: absolute;
    width: 300px;
    height: 200px;
    background: url('../img/Brick_04.png');

}